.app-homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid rgb(230, 230, 230);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  position: fixed;
  width: 100%;
  background: white;
}

.header-right {
  display: flex;
  gap: 30px;
}

main {
  height: 100%;
  flex: 1;
  display: flex;
  padding-top: 70px;
}



.app-homepage-content {
  flex: 1;
  overflow: scroll;
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  //background: rgb(247, 247, 247);
  background: rgb(243, 243, 243);
}

.greeting{
    font-size: 30px;
    margin-bottom: 50px;
}

 
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



.search{
    width: 500px;
    border-radius: 2em;
    background: rgb(243, 243, 243);
    height: 35px;
    border: 0;
}