.battles {
  height: 100%;
  overflow: hidden;

  h2{
    margin-bottom: 50px;
  
}
}

.battle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  text-transform: capitalize;
}

.entry-card-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.winners-container{
  display: flex;
  margin-bottom: 50px;
}