.directory-search {
  margin-bottom: 25px;
}

.directory {
  .card-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .user-card {
    }
  }

  input {
    background: rgba(255, 255, 255, 0.1058823529);
    height: 60px !important;
  }
}
