.directory-header {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;

  h1 {
    margin-bottom: 0;
  }
}

.directory {
  .card-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .user-card {
    }
  }

  input {
    background: rgba(255, 255, 255, 0.1058823529);
    height: 60px !important;
  }
}
