.homepage {
  height: 100svh;
  background: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0px 50px;
  text-align: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;

  .homepage-banner {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    border-radius: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: rgb(96, 96, 96);
    position: absolute;
    top: 0;
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
    transform: translateY(-100%);
    animation: banner-slide 1s linear forwards;
  }

  @keyframes banner-slide {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  .logo {
    width: 200px;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 25px;
    font-size: 16px;
    max-width: 800px;

    @media only screen and (min-width: 900px) {
      display: none;
    }
  }

  .company {
    position: absolute;
    bottom: 25px;
    color: white;
  }

  button {
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }
}

.notice {
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 1;

  @media only screen and (min-width: 900px) {
    display: none;
  }
}
