.onboarding {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  background: #020f1c;
}

.performer-form,
.professional form {
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


