.profile-picture{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background: grey;
    margin-right: 50px;
    background-size: cover;
    background-position: center;
}

.profile-container{
    display: flex;
    align-items: center;
}

.profile-name{
    margin-bottom: 10px;
}