.profile{

.profile-picture-wrap {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 900px) {
    transform-origin: left;
    margin-right: 0;
  }

  .avatar {
    @media only screen and (max-width: 900px) {
      width: 150px !important;
      height: 150px !important;
    }
  }

  .badge {
    background: rgb(242, 171, 17);
    width: fit-content;
    color: white;
    padding: 10px 30px;
    border-radius: 2em;
    font-size: 14px;
    transform: translateY(-30px);
    font-weight: bold;
  }
}

.skeleton {
  height: 30px;
  width: 200px;
  background: rgb(237, 237, 237);
}

.profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 100px;

  @media only screen and (max-width: 900px) {
    flex-direction: column;
    align-items: start;
  }
}

.profile-name {
  text-transform: capitalize;
  margin-bottom: 0;
}

.city {
  margin-bottom: 20px;
  color: white;
  text-transform: capitalize;
}

.bio {
  color: white;
  margin-bottom: 5px;
}

.city-bio-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  font-weight: 500;
  background: #e0101e29;
  padding: 10px 20px;
  border-radius: 2em;
  font-size: 13px;
  color: #ee303c;
  width: fit-content;
  display: block;
}

.profile-heading {
  margin-bottom: 25px;
}

.name-rank-wrap{
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
  
}
}