.battle-card {
  width: 100%;
  height: 300px;
  max-width: 400px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);  //background: #EE073E;
  border-radius: 1rem;
  color: white;
  padding: 30px;
  font-size: 20px;
  transition: 0.25s ease-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  background: rgb(255, 97, 29) !important;
  //border: solid 1px rgba(255, 255, 255, 0.354);



  &:hover{
    transform:translateY(-10px);
  }

  h3 {
    font-size: 22px;
    font-weight: 00;
  }

  p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
