.board-container {
  display: flex;
  gap: 50px;
}

.board {
  width: 100%;
  max-width: 400px;
  height: fit-content;
  background: #0d1a28;
  border-radius: 10px;
  padding: 50px;
  


  background: #0D1A28;

  &:nth-child(2) {
    animation: card-spread 0.3s forwards ease-in-out;

  }

 
}

.board-row {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 300000;
}

@keyframes card-spread {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
