.board-container {
  display: flex;
  gap: 50px;
}

.board {
  width: 100%;
  max-width: 400px;
  height: 600px;
  background: #0d1a28;
  border-radius: 10px;
  margin-top: 50px;
  padding: 50px;
  overflow: scroll;
}

.board-row{
    display: flex;
    align-items: center;
}