header {
  //border-bottom: 1px solid rgb(232, 232, 232);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  //background: rgb(243, 243, 243);
  
  z-index: 1;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.search{
    width: 500px;
    border-radius: 2em;
    background: rgb(243, 243, 243);
    height: 50px;
    border: 0;
    padding-left: 20px;
}