.rank-pill {
  background: grey;
  width: fit-content;
  padding: 7px 15px;
  border-radius: 2em;
  text-transform: capitalize;
  height: fit-content;
  font-size: 13px;
 
}

.cameo_star {
  background: rgb(0, 190, 190);
  color: rgb(0, 96, 96);
  border: solid 1px rgb(3, 255, 255);
  color: white;
}
