.upload-modal {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;



  .modal {
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 10px;
    padding: 30px;
  }
}

h2{
    margin-bottom: 50px;
}

.upload-area{
    height: 100px;
    width: 100%;
    border: dashed 1px rgb(187, 187, 187);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-open {
  display: flex;
}


