.user-card {

  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease-in-out;
  padding:25px 25px;
  border-radius: 10px;
  text-transform: capitalize;
  

  &:hover{
    background: rgba(255, 255, 255, 0.05);
  }


  /*&:hover {
    background: rgb(247, 247, 247);
  }*/
  color: black;

  p{
    color: white;
  }
 
  
}


