.user-card {

  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease-in-out;
  padding:25px 25px;
  border-radius: 10px;

  &:hover{
    background: #1a1f34;
  }


  /*&:hover {
    background: rgb(247, 247, 247);
  }*/
  color: black;

  p{
    color: white;
  }
 
  
}


