body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter";
  outline: none;

}

span {
  display: block;
}

.form-container {
  width: 100%;
  max-width: 400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.5px;
  color: white;
}

h2 {
  font-size: 28px !important;
}

h2 {
  font-size: 40px !important;

  @media only screen and (max-width: 900px) {
    font-size: 20px;
  }
}

h3 {
  font-size: 22px;
}

.page-title {
  margin-bottom: 50px;
}

.fade-in {
  animation: 0.5s fade-in forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
